@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Calculator';
    src: url('@/assets/fonts/Calculator.ttf') format('truetype');
}

.font-calculator {
    font-family: 'Calculator';
}

.btn-cal {
    @apply rounded-xl  py-[0.8rem] md:py-[1.4rem]  transition-all duration-100 ease-linear active:shadow-none active:translate-y-2;
}
.btn-primary {
    @apply bg-white;
    box-shadow: 0 8px 0  #dde1e0;
}
.btn-secondary {
    @apply bg-color-secondary text-white;
    box-shadow: 0 8px 0 rgba(0,168,143,1);
}

.btn-3d {
    @apply p-4 bg-color-secondary rounded-lg relative uppercase mt-4 transition-all duration-100 ease-in shadow-xl active:shadow-none active:translate-y-2 font-bold;
    box-shadow: 0 8px 0 rgba(0,168,143,1);
}