@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Calculator';
    src: url('@/assets/fonts/Calculator.ttf') format('truetype');
}

@font-face {
    font-family: 'ICARubrikBold';
    src: url('@/assets/fonts/ICARubrikBold.ttf') format('truetype');
}

.bg-default {
    background-image: url('../images/real.webp');
    background-position:top;
    min-height: 100vh;
}
.bg-history {
    background-image: url('../images/real.webp');
    min-height: 100vh;
    background-position:bottom;
}

.font-calculator {
    font-family: 'Calculator', serif;
}
.font-head {
    font-family: 'ICARubrikBold', serif;
}
.font-main {
    font-family: 'Open Sans', sans-serif;
}

.btn-cal {
    @apply rounded-xl  py-[0.8rem] md:py-[1.4rem] z-40  active:shadow-none relative active:translate-y-2 overflow-hidden;
}
.btn-primary {
    @apply bg-white border-2 border-[#dde1e0] after:bg-[#dde1e0];
}
.btn-secondary {
    @apply bg-color-secondary text-white border-2 border-[rgba(0,168,143,1)];
}

.btn-3d {
    @apply p-4 border-2 border-[rgba(0,168,143,1)] bg-color-secondary rounded-lg relative uppercase mt-4 transition-all duration-100 ease-in active:shadow-none active:translate-y-2 font-bold text-white shadow-btn-secondary;
}

.bg-main {
    background: rgb(42,69,78);
    background: -moz-linear-gradient(0deg, rgba(42,69,78,1) 0%, rgba(8,69,77,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(42,69,78,1) 0%, rgba(8,69,77,1) 100%);
    background: linear-gradient(0deg, rgba(42,69,78,1) 0%, rgba(8,69,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a454e",endColorstr="#08454d",GradientType=1);
}
.bg-router {
    background: rgb(44,68,66);
    background: -moz-linear-gradient(0deg, rgba(44,68,66,1) 0%, rgba(12,64,65,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(44,68,66,1) 0%, rgba(12,64,65,1) 100%);
    background: linear-gradient(0deg, rgba(44,68,66,1) 0%, rgba(12,64,65,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c4442",endColorstr="#0c4041",GradientType=1);
}

    .animation-cursor {
    position: relative;
    }

  .animate-bounce {
    animation: bounceArr 2s infinite;
  }

  .animate-zoom-out {
    animation: zoomOut 1s ease forwards;
  }
  
  .animation-cursor::after {
    content: '';
    position: absolute;
    right: -10;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: #22eb76; /* warna hijau sesuai dengan Tailwind CSS green-400 */
    animation: cursorInput 1s linear infinite;
  }
  
  @keyframes cursorInput{
    0%,
    100% {
      height: 100%;
      top: 0;
    }
    50% {
      top: 50%;
      height: 0;
    }
  }

  @keyframes zoomOut {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }

  @keyframes bounceArr {
    0%, 100% {
      transform: translateY(-10px)
    }
    50% {
      transform: translateY(10px);
    }
  }

@layer utilities {
    @variants responsive {
        .text-stroke-0 {
            -webkit-text-stroke-width: 0px;
            -webkit-text-stroke-color: black;
        }
        .text-stroke-1 {
            -webkit-text-stroke-width: 1px;   
            -webkit-text-stroke-color: black;

        }
        .text-stroke-2 {
            -webkit-text-stroke-width: 2px;    
            -webkit-text-stroke-color: black;

        }
        .text-stroke-3 {
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: black;
        }
    }
}